@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate-icon {
  transform: rotate(-60deg);
  transition: transform 0.5s ease;
}

.rotate-icon-click {
  transform: rotate(60deg);
  transition: transform 0.5s ease;
}


.text1 {
  font-weight: 700;
  z-index: 0;
}


.home-main-div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E3E3E1;
  position: relative;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
}

.logo-container {
  overflow: hidden;
  height: 85px;
  background-color: #E3E3E1;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.logo-image {
  height: 100px;
  border-radius: 50%;
}

.header {
  color: rgb(0, 0, 0);
  font-size: 29px;
  font-weight: 500;
}

.date-display {
  margin-top: 2.5rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.button-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
}

@media (min-width: 640px) {

  /* Assuming sm breakpoint is 640px */
  .button-container {
    flex-direction: row;
  }
}

.button {
  border-radius: 9999px;
  /* Ensures fully rounded corners */
  min-width: 180px;
  font-weight: 500;
  padding: 10px 0;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background: transparent;
  transition: background-color 200ms, color 200ms;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.special-button {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.special-button:hover {
  color: #000;
  background-color: white;
}

.setting-div {
  z-index: 100;
  padding: 0 0.5rem 0.75rem;
  position: absolute;
  width: 290px;
  top: 30px;
  right: 30px;
  border-radius: 8px;
  background: #cacaca;
  border: 1px solid #f7fdff3f;
}

@media (min-width: 640px) {

  /* Assuming sm breakpoint is 640px */
  .setting-div {
    width: 350px;
  }
}

.close-icon {
  background-color: transparent;
  transition: background-color 100ms;
  padding: 3px;
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

.close-icon:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.setting-text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 0.75rem;
  font-weight: bold;
}

@media (min-width: 640px) {
  .setting-text {
    font-size: 18px;
  }
}

.settings-icon {
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.setting-section {
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.setting-section:hover {
  background-color: rgba(67, 64, 64, 0.3);
}

@media (min-width: 640px) {
  .setting-section {
    font-size: 18px;
  }
}

.link-text {
  text-decoration: underline;
  cursor: pointer;
}


@media (min-width: 640px) {

  /* sm */
  .header {
    font-size: 45px;
  }
}

@media (min-width: 768px) {

  /* md */
  .header {
    font-size: 50px;
  }
}

.paragraph {

  text-align: center;
  font-size: 17px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 640px) {

  .paragraph {
    font-size: 20px;
  }
}

@media (min-width: 768px) {

  .paragraph {
    font-size: 22px;
  }
}


@media (min-width: 640px) {

  /* sm */
  .br-hidden {
    display: block;
  }
}

@media (min-width: 640px) {

  /* sm */
  .home-main-div {
    width: 100%;
  }
}

@media (min-width: 768px) {

  /* md */
  .home-main-div {
    width: 100%;
  }
}

@media (min-width: 1024px) {

  /* lg */
  .home-main-div {
    width: 890px;
  }
}

@media (min-width: 1280px) {

  /* xl */
  .home-main-div {
    width: 1000px;
  }
}


/* HowToPlayModal.css */

.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  max-height: 500px;
  max-width: 500px;
  padding: 20px;
  background-color: #cacaca;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 3px;
  border-radius: 50%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: transparent;
}

.modal-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.modal-title {
  color: rgb(65, 62, 62);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  color: #000000;
  font-size: 15px;
  overflow-y: auto;
  max-height: 365px;
  text-align: justify;
  margin-bottom: 19px;
}

.modal-feedback {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgb(0, 0, 0);
}

.feedback-icon {
  font-size: 20px;
  cursor: pointer;
}

.feedback-icon.active {
  color: #007bff;
}

.timer-display {
  font-size: 16px;
  color: white;
  background: #121212B2;
  padding: 5px 26px;
  border-radius: 99px;
  font-weight: 600;
}

.congratulations-container {
  max-width: 550px;
  padding-top: 60px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.congratulations-container p {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

.congratulations-container p.big-text {
  font-size: 30px;
}

.congratulations-container p.big-text-md {
  font-size: 40px;
}

.congratulations-container p.stats-text {
  font-size: 18px;
  margin-bottom: 60px;
}

.congratulations-container p.stats-text-sm {
  margin-bottom: 80px;
  font-size: 24px;
}

.stats {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 30px;
}

.stats div {
  min-width: 80px;
  text-align: center;
  color: black;
}

.stats p.large-text {
  font-size: 35px;
  font-weight: bold;
}

.stats p.large-text-sm {
  font-size: 48px;
}

.stats p.small-text {
  font-size: 17px;
}

.stats p.small-text-sm {
  font-size: 20px;
}

.share-button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 99px;
  background-color: #06bf66;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.share-icon {
  display: inline;
}

@media (min-width: 640px) {
  .congratulations-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  .congratulations-container p.big-text {
    font-size: 40px;
  }

  .congratulations-container p.stats-text {
    font-size: 24px;
  }

  .stats p.large-text {
    font-size: 48px;
  }

  .stats p.small-text {
    font-size: 20px;
  }
}

.quiz-img-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.exclamation-icon {
  font-size: 23px;
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 1;
}

.exclamation-icon:hover {
  cursor: pointer;
}

.timer-div {
  position: absolute;
  top: 7px;
  right: 43%;
  z-index: 1;
}

.skip-btn {
  font-size: 16px;
  color: white;
  background: #121212B2;
  padding: 5px 26px;
  border-radius: 99px;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.skip-btn:hover {
  font-size: 16px;
  background: #4f4f4fb2;
}

.good-job-btn {
  font-size: 16px;
  color: white;
  background: #06BF66;
  padding: 6px 20px;
  border-radius: 99px;
  cursor: pointer;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.next-time-btn {
  font-size: 16px;
  color: white;
  background: #CD0000;
  padding: 6px 20px;
  border-radius: 99px;
  cursor: pointer;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.option-shadow {
  box-shadow: 0px 5px 6px #00000040;
}

.congratulation-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .congratulation-header {
    font-size: 40px;
  }
}

.stats {
  font-size: 18px;
  margin-bottom: 60px;
}

@media (min-width: 640px) {
  .stats {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .stats {
    font-size: 24px;
  }
}

.question-div {
  max-width: 420px;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100vh;
}

@media (min-width: 768px) {
  .question-div {
    max-width: 550px;
  }
}

.question-text {
  font-size: 28px;
  text-align: start;
  font-weight: bold;
  margin-top: 0.75rem;
}

.question-full-text {
  font-size: 28px;
  text-align: start;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 50px;
}

.option-div {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 1.75rem;
  border-radius: 9999px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.single-option {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 1.75rem;
  border-radius: 9999px;
  color: #000;
}

.option-black {
  border: 1px solid black;
}

.option-green {
  color: white !important;
  background: #06BF66;
  border: 1px solid #06BF66;
  box-shadow: 0px 5px 6px #00000040;
}

.option-red {
  color: white !important;
  background: #CD0000;
  border: 1px solid #CD0000;
  box-shadow: 0px 5px 6px #00000040;
}

.option-gray {
  color: rgb(0, 0, 0) !important;
  background: transparent;
  border: 2px solid #A9A9A9;
  box-shadow: 0px 5px 6px #00000040;
}